.banner {
  display: flex;
  justify-content: space-around;
  padding-block: 2%;
  height: 87vh;
  width: 95vw;
  margin: 0 auto;
  background-color: lightgray;
}

.left {
  display: grid;
  gap: 2%;
  grid-template-rows: 2fr 1fr;
  width: 55%;
  height: 100%;
}

.sale {
  background-image: url(../../public/images/model.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  writing-mode: vertical-lr;
  text-orientation: upright;
  display: flex;
  justify-content: center;
  font-size: larger;
  color: rgb(97, 32, 97);
}

.sale p {
  background-color: rgb(169, 169, 169, 0.8);
  width: 100%;
  height: 100%;
  width: fit-content;
  margin-left: 0;
  text-align: center;
  font-size: 3rem;
  color: black;
}

.jewelry {
  background-image: url(../../public/images/jewlery.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  writing-mode: vertical-lr;
  text-orientation: upright;
  display: flex;
  justify-content: center;
  font-size: larger;
}

.jewelry p {
  width: 100%;
  margin-left: 0px;
  text-align: center;
  font-size: 1.5rem;
  padding-left: 5%;
  font-weight: 500;
  color: black;
}

.right {
  display: grid;
  gap: 1em;
  width: 35%;
  height: 100%;
}

.shoes {
  background-image: url(../../public/images/shoes.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 2%;
  font-size: 2rem;
}

.shoes p,
.jewelry p,
.jackets p,
.pants p {
  height: 100%;
  color: black;
}

.jackets {
  background-image: url(../../public/images/jacket.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 2%;
  font-size: 2rem;
}

.pants {
  background-image: url(../../public/images/pants.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 2%;
  font-size: 2rem;
}

.pants:hover,
.jackets:hover,
.shoes:hover,
.jewelry:hover,
.sale:hover {
  border: solid darkgrey 2px;
  box-shadow: 3px 3px;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: auto;
    margin-top: 0%;
    margin-bottom: 1%;
  }

  .sale {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 800px) {
  .banner {
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    margin-top: 12%;
  }

  .right {
    margin-top: 15%;
    grid-template-columns: repeat(3, 1fr);
  }

  .sale {
    margin-top: 7%;
    height: 60vh;
  }

  .sale p {
    font-size: 1.7rem;
    font-weight: 500;
  }

  .shoes,
  .jackets,
  .pants {
    display: flex;
    justify-content: flex-end;
    padding: 0%;
    margin-bottom: 0%;
  }

  .jewelry p {
    background-color: darkgray;
    width: fit-content;
    padding: 0%;
  }

  .shoes p,
  .jackets p,
  .pants p {
    background-color: darkgray;
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 31%;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .banner {
    margin-top: 10%;
    margin-bottom: 2%;
  }

  .right {
    margin-top: 25%;
  }

  .right div p {
    position: relative;
    top: 31%;
  }
}
