#burger {
  border: solid black 2px;
  background-color: azure;
  height: fit-content;
  padding: 2.7%;
  position: fixed;
  top: 1.5%;
  left: 2%;
  display: none;
}

@media only screen and (max-width: 600px) {
  #burger {
    display: block;
  }
}
