.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: solid black 1px;
  height: 4vh;
  padding: 0.5%;
  background-color: rgb(97, 32, 97);
  color: silver;
}

a,
a:visited {
  text-decoration: none;
  color: silver;
}

a:hover {
  filter: brightness(3);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 8%;
  min-width: fit-content;
  padding-inline: 2px;
}

input {
  border: solid 1px;
}

#search {
  width: 30%;
  height: 90%;
  border-radius: 50px;
  padding-inline: 1%;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #kids,
  #women,
  #men,
  #login {
    display: none;
  }

  #search {
    width: 50%;
    margin-left: 4%;
  }

  .basket {
    margin-right: 2%;
  }

  .nav {
    padding-block: 2%;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .nav {
    min-height: 6vh;
  }
}
