.showcase {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  width: 100vw;
}

.card {
  width: min(20rem);
  min-height: 60vh;
  border: solid black 2px;
}

.img {
  height: 78%;
  background-image: url("../../public/images/jacket.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid red 2px;
  height: fit-content;
}

.info h3 {
  margin-bottom: 0;
}
